.list-wrapper {
    margin: 0 0.14%;
    width: 14%;
    min-width: 110px;
    max-width: 270px;
}

.list-wrapper:first-child {
    margin-left: 0.1%;
}

.list-cards {
    margin: 0;
    padding: 0 2%;
}
.list-card {
    border-bottom: 0;
    box-shadow: -2px 2px 5px 0px #888;
    margin-bottom: 8px;
}

.list-card-labels {
    margin: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.list-card-labels .card-label {
    display: block;
    font-size: 12px;
    height: auto;
    line-height: normal;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    width: auto;
}

.ticket-title {
    opacity: .8;
}

.list-card-details {
    color: #3d3d3d;
    min-height: 45px;
}

@media (max-width: 1200px) {
    .ticket-title {
        display: none
    }
}
